@import "../../../style/color";

h2 {
    color: $AMARELO;
}

button {
    background-color: transparent;
}

button:hover {
    transition: .2s;
    background-color: $AMARELO;
}

input {
    background-color: $ROXO-CLARO;
}

input:hover::placeholder {
    transition: .2s;
    color: $BRANCO;
}

input:focus {
    outline: none;
}