@import '../../style/color';

.filtro {
    background-color: $ROXO-CLARO;

    .filtro-close:hover {
        transition: .2s;
        cursor: pointer;
        color: red;
    }

    .filtro-title {
        background-color: $AMARELO;
        box-shadow: 0 .2rem .4rem $PRETO;
    }

    button, input, .btn-filter {
        font-size: 1rem;
        margin: 0 .5rem;
        background-color: transparent;
        box-shadow: 0 .2rem .2rem $PRETO;
    }

    input::placeholder {
        color: $PRETO;
    }

    input:focus {
        outline: 0;
    }

    button:hover, input:hover,.btn-filter:hover {
        transition: .2s;
        scale: 105%;
        background-color: $AMARELO;
    }
<<<<<<< HEAD
}

.selected.active {
    background-color: $AMARELO;
}
=======
    .inpt-none{
      display: none;
    }
    .ativo{
      background-color: $AMARELO;
    }
    .inativo{
      background-color: $ROXO-CLARO;
    }
}
>>>>>>> arthur
