@import '../../style/color';

.filtro {
    background-color: $ROXO-CLARO;
    min-height: 100%;

    .filtro-close:hover {
        transition: .2s;
        cursor: pointer;
        color: red;
    }

    .filtro-title {
        background-color: $AMARELO;
        box-shadow: 0 .2rem .4rem $PRETO;
    }

    button, input, select, .btn-filter {
        font-size: 1rem;
        margin: 0 .5rem;
        background-color: transparent;
        box-shadow: 0 .2rem .2rem $PRETO;
    }

    input::placeholder {
        color: $PRETO;
    }

    input:focus, select:focus {
        outline: 0;
    }

    button:hover, select:hover, input:hover,.btn-filter:hover {
        transition: .2s;
        scale: 105%;
        background-color: $AMARELO;
    }

    select:hover {
        cursor: pointer;

        option {
            background-color: $BRANCO;
        }
    }

    .disabled {
        transition: .2s;
        opacity: .5;
    }

    .disabled:hover {
        background-color: transparent;
        scale: 100%;
    }
}

.selected.active {
    background-color: $AMARELO;
}
