<div class="filtro col-12 d-flex flex-column p-2 position-relative rounded-start border border-black">
  <span class="filtro-close position-absolute" (click)="this.closeFilter()">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x-lg"
      viewBox="0 0 16 16">
      <path
        d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
    </svg>
  </span>
  <span class="filtro-title text-center
                    col-5 rounded-5 text-dark
                    fw-semibold fst-italic m-auto
                    text-light border border-black fs-3 my-2">Filtro</span>
    <div>
      <div *ngFor="let botao of this.botoes" class="p-2 col-12">
          <div *ngIf="botao.values.length > 0">
                  <p class="text-light fs-4 fw-semibold">{{ botao.label }}</p>
                  <div class="d-flex flex-wrap align-items-center justify-content-around">
                      <button
                      *ngFor="let value of botao.values"
                      [ngStyle]="this.getButtonStyle(value)"
                      (click)="this.toggleButton(value, botao.label)"
                          class="rounded-4 border border-black text-center mb-3 col-5 p-1">{{ value.nome }}</button>
                  </div>
          </div>
        </div>
        <div *ngIf="this.tipo.toUpperCase() === 'FUNCIONARIO'" class="d-flex flex-column p-2">
          <label for="email" class="text-light fs-4 fw-semibold pb-2">Email</label>
          <input type="text" id="email" placeholder="Digite um email" class="mx-auto rounded-4 border border-black text-start ps-2 mb-3 col-10 p-1" name="email" #email (input)="this.verificarEmail(email.value)">
        </div>
        <div *ngIf="this.tipo.toUpperCase() === 'SESSAO'" class="d-flex flex-column p-2">
          <label for="estabelecimento" class="text-light fs-4 fw-semibold pb-2">Estabelecimento</label>
          <input type="text" id="estabelecimento" placeholder="Digite um estabelecimento" class="mx-auto rounded-4 border border-black text-start ps-2 mb-3 col-10 p-1" name="estabelecimento" (change)="this.verificarEstabelecimento()" [(ngModel)]="this.estabelecimento">
        </div>
        <div *ngIf="this.tipo.toUpperCase() === 'ESTABELECIMENTO'" class="d-flex flex-column p-2">
          <label for="estado" class="text-light fs-4 fw-semibold pb-2">Estado</label>
          <select name="estado" id="estado" class="rounded-4 border border-black p-1 col-10 mx-auto" 
            [(ngModel)]="this.estadoSelected" #estado 
            (ngModelChange)="this.filterEstabelecimentoEstado(estado.value)" 
            [attr.disabled]="true">
            <option *ngFor="let estado of this.estados" [value]="estado.id">{{estado.sigla}}</option>
          </select>
        </div>
        <div *ngIf="this.tipo.toUpperCase() === 'ESTABELECIMENTO'" class="d-flex flex-column p-2">
          <label for="cidade" class="text-light fs-4 fw-semibold pb-2">Cidade</label>
          <select name="cidade" id="cidade" class="rounded-4 border border-black p-1 col-10 mx-auto" 
            #cidade
            [(ngModel)]="this.cidadeSelected"
            (ngModelChange)="this.filterEstabelecimentoCidade(cidade.value)"
            [disabled]="!this.estadoIsSelected"
            [ngClass]="!this.estadoIsSelected ? 'disabled':''"
            [attr.disabled]="true">
            <option *ngFor="let cidade of this.cidades" [value]="cidade.nome">{{cidade.nome}}</option>
          </select>
        </div>
        <div *ngIf="this.tipo.toUpperCase() === 'ESTABELECIMENTO'" class="d-flex flex-column p-2">
          <label for="cep" class="text-light fs-4 fw-semibold pb-2">Cep</label>
          <input type="text" id="cep" placeholder="Digite um cep" class="mx-auto rounded-4 border border-black text-start ps-2 mb-3 col-10 p-1" name="cep" #cep (input)="this.verificarCep(cep.value)">
        </div>
    </div>
</div>
