<div class="d-flex flex-column align-items-center justify-content-around">
  <img src="../../../assets/img/Cinematic-removebg-preview 1.png" class="logo mt-5 mb-3" alt="logo">
  <div class="login d-flex flex-column justify-content-center col-4 p-5">
    <h2 class="fs-1 text-center text-white">Entrar</h2>
    <div class="d-flex flex-column align-items-center col-12">
      <div class="input-login col-11 d-flex flex-column">
        <label for="login" class="text-start fs-3 mt-4 text-white">Login</label>
        <input type="text" id="login" class="p-3 mt-2 border-0" placeholder="Digite seu login">
      </div>
      <div class="input-senha col-11 d-flex flex-column">
        <label for="senha" class="text-start fs-3 mt-4 text-white">Senha</label>
        <input type="text" id="senha" class="border-0 p-3 mt-2" placeholder="*******">
      </div>
      <button class="fs-4 fw-bold col-8 btn-logar mt-5">Entrar</button>
    </div>
  </div>
</div>
