<div *ngFor="let filme of this.filmes" class=" text-center col-1 mx-1 body">
    <div class="position-relative">
        <span class="text-light position-absolute px-2 border border-black rounded text-center" 
            [ngClass]="filme.classificacao.toString().toLowerCase()">{{ this.setClassificacao(filme.classificacao) }}</span>
        <img src="../../../../assets/img/{{filme.nome.toUpperCase()}}.webp"
            class="rounded border border-black">
    </div>
    <p class="text-light pt-2 text-nowrap">{{ filme.nome }}</p>
</div>
<div *ngFor="let filme of this.filmes" class=" text-center col-1 mx-1 body">
    <div class="position-relative">
        <span class="text-light position-absolute px-2 border border-black rounded text-center" 
            [ngClass]="filme.classificacao.toString().toLowerCase()">{{ this.setClassificacao(filme.classificacao) }}</span>
        <img src="../../../../assets/img/{{filme.nome.toUpperCase()}}.webp"
            class="rounded border border-black">
    </div>
    <p class="text-light pt-2 text-nowrap">{{ filme.nome }}</p>
</div>
<div *ngFor="let filme of this.filmes" class=" text-center col-1 mx-1 body">
    <div class="position-relative">
        <span class="text-light position-absolute px-2 border border-black rounded text-center" 
            [ngClass]="filme.classificacao.toString().toLowerCase()">{{ this.setClassificacao(filme.classificacao) }}</span>
        <img src="../../../../assets/img/{{filme.nome.toUpperCase()}}.webp"
            class="rounded border border-black">
    </div>
    <p class="text-light pt-2 text-nowrap">{{ filme.nome }}</p>
</div>
<div *ngFor="let filme of this.filmes" class=" text-center col-1 mx-1 body">
    <div class="position-relative">
        <span class="text-light position-absolute px-2 border border-black rounded text-center" 
            [ngClass]="filme.classificacao.toString().toLowerCase()">{{ this.setClassificacao(filme.classificacao) }}</span>
        <img src="../../../../assets/img/{{filme.nome.toUpperCase()}}.webp"
            class="rounded border border-black">
    </div>
    <p class="text-light pt-2 text-nowrap">{{ filme.nome }}</p>
</div>
<div *ngFor="let filme of this.filmes" class=" text-center col-1 mx-1 body">
    <div class="position-relative">
        <span class="text-light position-absolute px-2 border border-black rounded text-center" 
            [ngClass]="filme.classificacao.toString().toLowerCase()">{{ this.setClassificacao(filme.classificacao) }}</span>
        <img src="../../../../assets/img/{{filme.nome.toUpperCase()}}.webp"
            class="rounded border border-black">
    </div>
    <p class="text-light pt-2 text-nowrap">{{ filme.nome }}</p>
</div>
<div *ngFor="let filme of this.filmes" class=" text-center col-1 mx-1 body">
    <div class="position-relative">
        <span class="text-light position-absolute px-2 border border-black rounded text-center" 
            [ngClass]="filme.classificacao.toString().toLowerCase()">{{ this.setClassificacao(filme.classificacao) }}</span>
        <img src="../../../../assets/img/{{filme.nome.toUpperCase()}}.webp"
            class="rounded border border-black">
    </div>
    <p class="text-light pt-2 text-nowrap">{{ filme.nome }}</p>
</div>
<div *ngFor="let filme of this.filmes" class=" text-center col-1 mx-1 body">
    <div class="position-relative">
        <span class="text-light position-absolute px-2 border border-black rounded text-center" 
            [ngClass]="filme.classificacao.toString().toLowerCase()">{{ this.setClassificacao(filme.classificacao) }}</span>
        <img src="../../../../assets/img/{{filme.nome.toUpperCase()}}.webp"
            class="rounded border border-black">
    </div>
    <p class="text-light pt-2 text-nowrap">{{ filme.nome }}</p>
</div>
<div *ngFor="let filme of this.filmes" class=" text-center col-1 mx-1 body">
    <div class="position-relative">
        <span class="text-light position-absolute px-2 border border-black rounded text-center" 
            [ngClass]="filme.classificacao.toString().toLowerCase()">{{ this.setClassificacao(filme.classificacao) }}</span>
        <img src="../../../../assets/img/{{filme.nome.toUpperCase()}}.webp"
            class="rounded border border-black">
    </div>
    <p class="text-light pt-2 text-nowrap">{{ filme.nome }}</p>
</div>
<div *ngFor="let filme of this.filmes" class=" text-center col-1 mx-1 body">
    <div class="position-relative">
        <span class="text-light position-absolute px-2 border border-black rounded text-center" 
            [ngClass]="filme.classificacao.toString().toLowerCase()">{{ this.setClassificacao(filme.classificacao) }}</span>
        <img src="../../../../assets/img/{{filme.nome.toUpperCase()}}.webp"
            class="rounded border border-black">
    </div>
    <p class="text-light pt-2 text-nowrap">{{ filme.nome }}</p>
</div>
<div *ngFor="let filme of this.filmes" class=" text-center col-1 mx-1 body">
    <div class="position-relative">
        <span class="text-light position-absolute px-2 border border-black rounded text-center" 
            [ngClass]="filme.classificacao.toString().toLowerCase()">{{ this.setClassificacao(filme.classificacao) }}</span>
        <img src="../../../../assets/img/{{filme.nome.toUpperCase()}}.webp"
            class="rounded border border-black">
    </div>
    <p class="text-light pt-2 text-nowrap">{{ filme.nome }}</p>
</div>
<div *ngFor="let filme of this.filmes" class=" text-center col-1 mx-1 body">
    <div class="position-relative">
        <span class="text-light position-absolute px-2 border border-black rounded text-center" 
            [ngClass]="filme.classificacao.toString().toLowerCase()">{{ this.setClassificacao(filme.classificacao) }}</span>
        <img src="../../../../assets/img/{{filme.nome.toUpperCase()}}.webp"
            class="rounded border border-black">
    </div>
    <p class="text-light pt-2 text-nowrap">{{ filme.nome }}</p>
</div>
<div *ngFor="let filme of this.filmes" class=" text-center col-1 mx-1 body">
    <div class="position-relative">
        <span class="text-light position-absolute px-2 border border-black rounded text-center" 
            [ngClass]="filme.classificacao.toString().toLowerCase()">{{ this.setClassificacao(filme.classificacao) }}</span>
        <img src="../../../../assets/img/{{filme.nome.toUpperCase()}}.webp"
            class="rounded border border-black">
    </div>
    <p class="text-light pt-2 text-nowrap">{{ filme.nome }}</p>
</div>