@import "../../../style/color";

h2{
  color: $AMARELO;

}
input, select{
  background-color: transparent;
  box-shadow: 0 .2rem .2rem $PRETO;
}

input:focus,select:focus{
  outline: 0;
  background-color: $BRANCO;
  scale: 103%;
}

input:hover, select:hover{
  transition: .2s;
  scale: 103%;
  background-color: $BRANCO;
}

.body{
  box-shadow: 0 .4rem .4rem $PRETO;
}

button{
  background-color: $AMARELO;
}
