@import "../../../../style/color";

app-menu-sistema {
    z-index: 1;
}

h2 {
    text-shadow: $SHADOW-MD;
}

app-sala-detalhe {
    right: 25%;
    top: 10%;
    width: 50%;
}

.body {
    box-shadow: $SHADOW-MD;
    max-height: 650px;
}

.list {
    span {
        cursor: pointer;
    }

    button {
        opacity: .7;
        box-shadow: $SHADOW-SM;
    }

    button:hover {
        transition: .2s;
        scale: 105%;
        background-color: $AMARELO;
        opacity: 1;
    }
}

.cards {
    max-height:94%;
}

::-webkit-scrollbar{
    background-color: $PRETO;
    border: .1rem solid $PRETO;
}

::-webkit-scrollbar-thumb{
    width: 1rem;
    background-color: $ROXO-CLARO;
    border: .1rem solid $PRETO;
}