<app-header-sistema></app-header-sistema>
<div class="position-relative">
    <app-menu-sistema class="position-absolute"></app-menu-sistema>
    <div class="col-10 m-auto">
        <h2 class="text-light fs-1 fw-bold">Filmes</h2>
        <div class="body border border-black rounded col-12 d-flex flex-column align-items-center flex-wrap rounded-bottom-1 border-bottom-0">
            <div class="col-12 d-flex justify-content-around pt-2">
                <div class="d-flex flex-column col-3">
                    <label  class="text-light fw-semibold fs-3">Nome</label>
                    <input id="nome" type="text" placeholder="Digite o nome do filme"
                        class="p-2 rounded mt-2 border border-black" [(ngModel)]="filme.nome" name="nome" (ngModelChange)="validaCampos()">
                </div>
                <div class="d-flex flex-column col-3">
                    <label class="text-light fw-semibold fs-3">Categoria</label>
                    <select name="categoria" id="categoria" class="p-2 rounded mt-2 border border-black" [(ngModel)]="filme.categoria" (ngModelChange)="validaCampos()">
                        <option *ngFor="let categoria of this.categoriaList" [ngValue]="categoria">{{ categoria.nome }}</option>
                    </select>
                </div>
                <div class="d-flex flex-column col-3">
                    <label class="text-light fw-semibold fs-3">Duração</label>
                    <input id="duracao" type="string" min="0" placeholder="Digite o duração do filme"
                        class="p-2 rounded mt-2 border border-black" mask="000" suffix=" min" [(ngModel)]="filme.duracao" name="duracao" (ngModelChange)="validaCampos()">
                </div>
            </div>
            <div class="col-12 d-flex justify-content-around py-2">
                <div class="d-flex flex-column col-3">
                    <label class="text-light fw-semibold fs-3">Data de Estreia</label>
                    <input id="dataEstreia" type="date"
                        class="p-2 rounded mt-2 border border-black" [(ngModel)]="filme.dataEstreia" name="dataEstreia" (ngModelChange)="validaCampos()">
                </div>
                <div class="d-flex flex-column col-3">
                    <label class="text-light fw-semibold fs-3">Classificação</label>
                    <select name="classificacao" id="classificacao" class="p-2 rounded mt-2 border border-black" [(ngModel)]="filme.classificacao" (ngModelChange)="validaCampos()">
                        <option *ngFor="let classificacao of this.classificacaoList" [ngValue]="classificacao">{{ classificacao }}</option>
                    </select>
                </div>
                <div class="d-flex flex-column col-3">
                    <label class="text-light fw-semibold fs-3">Status</label>
                    <select name="status" id="status" class="p-2 rounded mt-2 border border-black" [(ngModel)]="this.filme.status" (ngModelChange)="validaCampos()">
                        <option *ngFor="let status of this.statusList" [value]="status">{{ status }}</option>
                    </select>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-around pb-2">
                <div class="col-3 d-flex flex-column">
                    <div class="d-flex flex-column m-auto col-12 pt-2">
                        <label class="text-light fw-semibold fs-3">Direção</label>
                        <input id="direcao" type="text" placeholder="Digite quem faz parte da direção"
                            class="p-2 rounded mt-2 border border-black" [(ngModel)]="this.filme.direcao" name="direcao" (ngModelChange)="validaCampos()">
                    </div>
                    <div class="d-flex flex-column m-auto col-12 pt-2">
                        <label class="text-light fw-semibold fs-3">Banner</label>
                        <input id="poster" type="text" placeholder="Digite a url do banner"
                            class="p-2 rounded mt-2 border border-black" [(ngModel)]="this.filme.banner" (ngModelChange)="validaCampos()">
                    </div>
                </div>
                <div class="d-flex flex-column col-7 pt-2">
                    <label class="text-light fw-semibold fs-3 col-12 text-wrap">Descrição</label>
                    <textarea name="descricao" placeholder="Digite a descrição do filme" id="descricao" class="p-2 h-75 rounded mt-2 col-12 border border-black" [(ngModel)]="this.filme.descricao" (ngModelChange)="validaCampos()"></textarea>
                </div>
            </div>
            <div class="col-11 d-flex justify-content-between pb-4">
                <div class="col-5">
                    <label class="text-light fw-semibold fs-3 col-12 text-wrap">Trailers</label>
                    <div class="border border-black col-12 rounded-3 mt-2 p-3 links-div">
                        <div class="d-flex mb-2">
                            <input 
                                type="text" 
                                placeholder="Digite o link do trailer" 
                                class="col-7 p-1 border text-light rounded border-black me-3" 
                                [(ngModel)]="this.trailer">
                            <button 
                                class="col-3 border border-black rounded"
                                [ngClass]="this.canSubmitTrailers ? 'enable':'disabled'"
                                (mouseenter)="this.enableSubmit()"
                                (mouseleave)="this.disableSubmit()"
                                (click)="this.adicionarTrailer(this.trailer, 'trailer')">
                                <svg 
                                    xmlns="http://www.w3.org/2000/svg" 
                                    width="20" height="20" 
                                    fill="currentColor" 
                                    class="bi bi-check-circle"
                                    viewBox="0 0 16 16"
                                    [ngClass]="this.canSubmitTrailers ? 'submit': ''">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                                  </svg>
                            </button>
                        </div>
                        <div class="links overflow-y-auto d-flex flex-column align-items-start justify-content-center">
                            <p *ngFor="let trailer of this.filme.trailers"
                                class="border border-black col-11 mx-auto rounded-3 text-light my-1 p-2"><span class="text-black fw-semibold">Link:</span> {{ trailer }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <label class="text-light fw-semibold fs-3 col-12 text-wrap">Capas</label>
                    <div class="border border-black col-12 mt-2 rounded-3 p-3 links-div">
                        <div class="d-flex mb-2">
                            <input 
                                type="text" 
                                placeholder="Digite o link do trailer" 
                                class="col-7 p-1 rounded border border-black me-3" 
                                [(ngModel)]="this.capa">
                            <button 
                                class="col-3 border border-black rounded"
                                [ngClass]="this.canSubmitCapas ? 'enable' : 'disabled'"
                                (mouseenter)="this.enableSubmitCapas()"
                                (mouseleave)="this.disableSubmitCapas()"
                                (click)="this.adicionarTrailer(this.capa, 'capa')">
                                <svg 
                                    xmlns="http://www.w3.org/2000/svg" 
                                    width="20" height="20" 
                                    fill="currentColor" 
                                    class="bi bi-check-circle"
                                    viewBox="0 0 16 16"
                                    [ngClass]="this.canSubmitCapas ? 'submit': ''">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                                  </svg>
                            </button>
                        </div>
                        <div class="links overflow-y-auto d-flex flex-column align-items-start justify-content-center">
                            <p *ngFor="let capa of this.filme.capas"
                                class="col-11 mx-auto border border-black rounded-3 text-light my-1 p-2"><span class="text-black fw-semibold">Link:</span> {{ capa }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <button *ngIf="!this.isEdit" class="btn-salvar col-12 p-2 fs-3 fw-bold rounded-bottom-1 border border-black border-top-0" [disabled]="!canRegister" [ngClass]="canRegister ? 'ativo':''" (click)="this.register()">Salvar</button>
            <button *ngIf="this.isEdit" class="btn-salvar col-12 p-2 fs-3 fw-bold rounded-bottom-1 border border-black border-top-0" (click)="this.update()">Salvar</button>
        </div>
    </div>
</div>