@import "../../../../style/color";

app-menu-sistema{
  z-index: 1;
}

.body-bottom{
  max-height: 650px;
  box-shadow: 0 .4rem .4rem $PRETO;
}

h2 {
  text-shadow: $SHADOW-MD;
}

span {
  cursor: pointer;
}

input:hover{
  scale: 102%;
  transition: .2s;
  opacity: 100%;
}
button:hover{
  scale: 102%;
  transition: .2s;
  background-color: $AMARELO;
  opacity: 100%;
}
input:focus,button:focus{
  scale: 102%;
  transition: .2s;
  outline: 0;
  opacity: 100%;
}
input,button{
  box-shadow: 0 .2rem .2rem $PRETO;
  opacity: .7;
}
.filter{
  background-color: $ROXO-CLARO;
}

app-estabelecimento-detalhe{
  right: 32.5%;
  top: 25%;
  width: 40%;
  z-index: 2;
}
app-estebelecimento-card:hover{
  box-shadow: 0 .4rem .4rem $PRETO;
  scale: 102%;
  transition: .2s;
  cursor: pointer;
}
.listBottom{
  max-height: 93%;
}
::-webkit-scrollbar{
  background-color: $PRETO;
  border: .1rem solid $PRETO;
}

::-webkit-scrollbar-thumb{
  width: 1rem;
  background-color: $ROXO-CLARO;
  border: .1rem solid $PRETO;
}

