<nav class="d-flex flex-column align-items-start border border-black col-sm-10 rounded-end-4"
    (mouseleave)="this.closeMenu()"
    [ngClass]="this.menuIsOpen ? '' : 'leave'">
    <div class="d-flex align-items-center col-sm-12 px-2" (click)="redirect('filme')">
        <img class="py-3" src="../../../../assets/img/claquete.png" alt="">
        <p class="fs-4 ps-3 fw-bold">Filmes</p>
    </div>
    <div class="d-flex align-items-center col-sm-12 ps-2 pe-4" >
        <img class="py-3" src="../../../../assets/img/mascara-de-teatro (1).png" alt="">
        <p class="fs-4 ps-3 fw-bold">Teatro</p>
    </div>
    <div class="d-flex align-items-center col-sm-12 ps-2 pe-4">
        <img class="py-3" src="../../../../assets/img/calendario.png" alt="">
        <p class="fs-4 ps-3 fw-bold">Evento</p>
    </div>
    <div class="d-flex align-items-center col-sm-12 ps-2 pe-4" (click)="redirect('funcionario')">
        <img class="py-3" src="../../../../assets/img/funcionarios.png" alt="">
        <p class="fs-4 ps-3 fw-bold">Funcionários</p>
    </div>
    <div class="d-flex align-items-center col-sm-12 ps-2 pe-4" (click)="redirect('sala')">
        <img class="py-3" src="../../../../assets/img/teatro.png" alt="">
        <p class="fs-4 ps-3 fw-bold">Salas</p>
    </div>
    <div class="d-flex align-items-center col-sm-12 ps-2 pe-4" (click)="redirect('horario')">
        <img class="py-3" src="../../../../assets/img/relogio.png" alt="">
        <p class="fs-4 ps-3 fw-bold">Horários</p>
    </div>
    <div class="d-flex align-items-center col-sm-12 ps-2 pe-4" (click)="redirect('sessao')">
        <img class="py-3" src="../../../../assets/img/projetor-de-cinema.png" alt="" >
        <p class="fs-4 ps-3 fw-bold">Sessões</p>
    </div>
    <div class="d-flex align-items-center col-sm-12 ps-2 pe-4" (click)="redirect('categoria')">
        <img class="py-3" src="../../../../assets/img/categoria.png" alt="" >
        <p class="fs-4 ps-3 fw-bold">Categorias</p>
    </div>
    <div class="d-flex align-items-center col-sm-12 ps-2 pe-4" (click)="redirect('estabelecimento')">
        <img class="py-3" src="../../../../assets/img/agencia.png" alt="" >
        <p class="fs-4 ps-3 fw-bold">Estabelecimentos</p>
    </div>
</nav>
