@import "../../../../style/color";

// app-menu-sistema {
//     z-index: 1;
// }

app-filme-detalhe {
    right: 20.5%;
    top: -5%;
    width: 60%;
}

h2 {
    text-shadow: $SHADOW-MD;
}

.body {
    box-shadow: $SHADOW-MD;
    max-height: 650px;
}

.list {
    span {
        cursor: pointer;
    }

    input {
        opacity: .7;
        box-shadow: $SHADOW-SM;
    }

    input:hover {
        transition: .2s;
        scale: 102%;
        opacity: 1;
    }

    input:focus {
        scale: 105%;
        opacity: 1;
        outline: 0;
    }

    button {
        opacity: .7;
        box-shadow: $SHADOW-SM;
    }

    button:hover {
        transition: .2s;
        scale: 105%;
        background-color: $AMARELO;
        opacity: 1;
    }
}

::-webkit-scrollbar{
    background-color: $PRETO;
    border: .1rem solid $PRETO;
}

::-webkit-scrollbar-thumb{
    width: 1rem;
    background-color: $ROXO-CLARO;
    border: .1rem solid $PRETO;
}