<app-header-sistema [userId]="this.idUser"></app-header-sistema>
<div class="position-relative">
  <app-menu-sistema [userId]="userLogged.id" class="position-absolute"></app-menu-sistema>
  <div class="body d-flex flex-column justify-content-center align-items-center">
    <h2 class="col-8 text-light">Estabelecimento 1</h2>
    <div class="graficos col-8 py-2 mt-3">
      <div class="graficos-top col-12">
        <div class="d-flex col-12 justify-content-center">
          <h3 class="col-11 text-light">Caixa</h3>
        </div>
        <div class="rendimento d-flex justify-content-center">
          <canvas #rendimento class="predio"></canvas>
        </div>
      </div>
      <hr class="col-11 m-auto my-3">
      <div class="graficos-bottom col-12 d-flex px-4">
        <div class="graficos-bottom-left col-6">
          <div class="graficos-bottom-left-header d-flex col-10 justify-content-around align-items-center">
            <h3 class="text-light">Ingressos</h3>
            <select name="filter" id="filter" class="p-2 text-start col-5 py-1 rounded border-0">
              <option value="last month" class="">Ultimo mes</option>
              <option value="first month">Primeiro mes</option>
            </select>
          </div>
          <canvas #ingresso></canvas>
        </div>
        <div class="graficos-bottom-left col-6 d-flex flex-column align-items-center">
          <h3 class="col-12 text-light">Gêneros</h3>
          <canvas #genero class="pizza"></canvas>
        </div>
      </div>
    </div>
  </div>

</div>
