<div
  class="body col-12 rounded-2 d-flex flex-column justify-content-center align-items-center p-3"
>
  <span class="position-absolute fechar" (click)="fecharDetalhe()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="currentColor"
      class="bi bi-x-lg mb-5"
      viewBox="0 0 16 16"
    >
      <path
        d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147
           5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"
      />
    </svg>
  </span>
  <div class="d-flex col-12 justify-content-around pt-3">
    <p class="text-light fs-3">{{ this.horarioDetalhe.hora }}</p>
    <div class="d-flex align-items-center justify-content-around col-2">
      <p class="text-light fs-3" *ngIf="this.horarioDetalhe.status">Ativo</p>
      <p class="text-light fs-3" *ngIf="!this.horarioDetalhe.status">Inativo</p>
      <span
        class="text-light disponibilidade border border-black rounded-circle mt-3 mb-4"
        [ngClass]="this.horarioDetalhe.status ? 'ativo' : 'inativo'"
      >
      </span>
    </div>
  </div>
  <div class="d-flex justify-content-around col-12">
    <button class="col-5 p-2 fs-4 fw-semibold rounded-3 border border-black">
      Editar
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="ms-2 pb-1 bi bi-pencil"
        viewBox="0 0 16 16"
      >
        <path
          d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"
        />
      </svg>
    </button>
    <button class="col-5 p-2 fs-4 fw-semibold rounded-3 border border-black inativo" *ngIf="this.horarioDetalhe.status" (click)="this.inativar(this.horarioDetalhe.id)">
      Inativar
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-ban pb-1 ms-2"
        viewBox="0 0 16 16"
      >
        <path
          d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0"
        />
      </svg>
    </button>
    <button class="col-5 p-2 fs-4 fw-semibold rounded-3 border border-black ativo" *ngIf="!this.horarioDetalhe.status" (click)="this.ativar(this.horarioDetalhe.id)">
      Ativar
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-circle pb-1 ms-2"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
        />
      </svg>
    </button>
  </div>
</div>
