@import "../../../style/color";

.detalhe{
  background-color: $ROXO-ESCURO;
  // min-height: 400px;
}
span{
  width: 1.6rem;
  height: 1.6rem;
}
.ativo{
  background-color: $VERDE-ATIVO;
}
.inativo{
  background-color: $VERMELHO;
}

.editar{
  background-color: $AMARELO;
}
.inativar{
  background-color: $VERMELHO;
}
.close{
  top: .5rem;
  left: .5rem;
  color: $BRANCO;
}
.close:hover{
  color: $VERMELHO;
  cursor: pointer;
}

