@import '../../../../style/color';

.body {
    min-height: 100%;
    background-color: $ROXO-CLARO;

    button {
        background-color: $AMARELO;
        opacity: .7;
    }

    .active:hover {
        transition: .2s;
        opacity: 1;
    }

    h3 {
        text-shadow: $SHADOW-SM;
    }

    .idioma, .tipo, .classificacao, .banner {
        box-shadow: $SHADOW-SM;
    }

    .hover {
        cursor: pointer;
    }

    .div-infos {
        min-height: 19.5rem;
    }

    .div-assentos {
        max-height: 2rem;
    }

    .idioma {
        background-color: $VERDE-IDIOMA;
    }

    .infos {
        min-height: 100%;
    }
    .tipo {
        background-color: $AMARELO;
    }

    .livre {
        background-color: $VERDE-CLASSIFICACAO-L;
    }
    .dez {
        background-color: $AZUL-CLASSIFICACAO-10;
    }
    .doze {
        background-color: $AMARELO-CLASSIFICACAO-12;
    }
    .quatorze {
        background-color: $LARANJA-CLASSIFICACAO-14;
    }
    .dezesseis {
        background-color: $VERMELHO;
    }
    .dezoito {
        background-color: $PRETO;
    }
}
