<app-header-sistema></app-header-sistema>
<div class="position-relative">
  <app-menu-sistema class="position-absolute"></app-menu-sistema>
  <div class="body d-flex flex-column justify-content-center align-items-center col-10 m-auto">
    <h2 class="col-12 text-light mb-5">Funcionários</h2>

    <div class="body-bottom col-12 d-flex">
      <div class="filter col-2">
        <p>olaola</p>
      </div>
      <div class="col-10 list rounded-3 p-2">
        <div class="topList d-flex justify-content-between align-items-center">
          <div class="col-6">
            
            <input type="text" placeholder="Informe o nome de um funcionário para pesquisa" class="col-7 rounded-3 border-0 p-1 m-2">
          </div>
          <button class="col-2 rounded-3 border-0 p-1 m-2">Adicionar</button>
        </div>
        <div class="listBottom col-12 p-3">
            <app-funcionario-card></app-funcionario-card>
        </div>
      </div>
    </div>
  </div>
</div>
