@import "../../../style/color";

app-menu-sistema{
  z-index: 1;
}
.body-bottom{
  height: 33rem;
}

// .list{
  // border: 3px solid black;
  // height: 700px;

// }
input:hover{
  scale: 102%;
  transition: .2s;
  opacity: 100%;
}
button:hover{
  scale: 102%;
  transition: .2s;
  background-color: $AMARELO;
  opacity: 100%;
}
input:focus,button:focus{
  scale: 102%;
  transition: .2s;
  outline: 0;
  opacity: 100%;
}
input,button{
  box-shadow: 0 .2rem .2rem $PRETO;
  background-color: $ROXO-CLARO;
  opacity: 50%;
}
.filter{
  background-color: $ROXO-CLARO;
}
.span-filtro{
  background-color: $AMARELO;
  box-shadow: 0 .4rem .4rem $PRETO;
}
input::placeholder{
  color: $BRANCO;
}
app-funcionario-card{
  background-color: $ROXO-CLARO;
  box-shadow: 0 .4rem .4rem $PRETO;
}
app-funcionario-detalhe{
  right: 25%;
  top: 10%;
  width: 50%;
  z-index: 2;
}
app-funcionario-card:hover{
  scale: 102%;
  transition: .2s;
  cursor: pointer;
}
.listBottom{
  max-height: 29.1rem;
}
::-webkit-scrollbar{
  display: none;
  width: 10px;
  height: 5px;
  background-color: $ROXO-CLARO;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  width: 10px;
  background-color: $ROXO-ESCURO;
  border-radius: 10px;
}
