@import "../../../../style/color";

.detalhe{
  background-color: $ROXO-ESCURO;
  box-shadow: $SHADOW-MD;
}
span{
  width: 1.6rem;
  height: 1.6rem;
}
.ativo{
  background-color: $VERDE-ATIVO;
}
.inativo{
  background-color: $VERMELHO;
}

.editar{
  background-color: $AMARELO;
}
.inativar{
  background-color: $VERMELHO;
}
.ativar{
  background-color: $VERDE-ATIVO;
}
.close{
  top: .5rem;
  left: .5rem;
  color: $BRANCO;
}
.close:hover{
  color: $VERMELHO;
  cursor: pointer;
}
.confirmacao{
  background-color: $ROXO-ESCURO;
}
.desautorizado{
  background-color: $VERMELHO;
}
.autorizado{
  background-color: $VERDE-ATIVO;
}
button{
  opacity: .7;
}
button:hover {
  transition: .2s;
  scale: 103%;
  opacity: 1;
}
