@import "../../../../style/color";

app-menu-sistema{
  z-index: 1;
}
.body-bottom{
  max-height: 33rem;
  box-shadow: 0 .4rem .4rem $PRETO;
}
input:hover{
  scale: 102%;
  transition: .2s;
  opacity: 100%;
}
button:hover{
  scale: 102%;
  transition: .2s;
  background-color: $AMARELO;
  opacity: 100%;
}
input:focus,button:focus{
  scale: 102%;
  transition: .2s;
  outline: 0;
  opacity: 100%;
}
input,button{
  box-shadow: 0 .2rem .2rem $PRETO;
  opacity: .7;
}
span{
  cursor: pointer;
}
app-funcionario-detalhe{
  right: 25%;
  top: 10%;
  width: 50%;
  z-index: 2;
}
.listBottom{
  max-height: 92.6%;
}
::-webkit-scrollbar{
  background-color: $PRETO;
  border: .1rem solid $PRETO;
}

::-webkit-scrollbar-thumb{
  width: 1rem;
  background-color: $ROXO-CLARO;
  border: .1rem solid $PRETO;
}
.detalhe{
  top: 25%;
}
h2{
  text-shadow: $SHADOW-MD;
}
