@import '../../../style/color';
label,p{
  color: $BRANCO;
}
h2{
  color: $BRANCO;
  text-shadow: 0 .2rem .2rem $PRETO;
}
button{
  background-color: $AMARELO;
  opacity: .7;
}
.salvar:hover{
  transition: .2s;
  opacity: 1;
}
.login{
  background-color: $ROXO-CLARO;
}
.changeCadastro:hover{
  cursor: pointer;
}
.changeCadastro{
  color: $BRANCO;
}
.eye{
  margin-left: -.5rem;
  cursor: pointer;
}
input:focus{
  outline: none;
}

.login{
  box-shadow: $SHADOW-MD;
}
