@import '../../../style/color';
label,p{
  color: $BRANCO;
}
h2{
  color: $BRANCO;
  text-shadow: 0 .2rem .2rem $PRETO;
}
button{
  background-color: $AMARELO;
  box-shadow: 0 .4rem .4rem $PRETO;
}
input{
  box-shadow: .4rem .4rem .4rem $PRETO;
}
.login{
  background-color: $ROXO-CLARO;
}
.changeCadastro:hover{
  cursor: pointer;
}
.changeCadastro{
  color: $BRANCO;
}
.eye{
  box-shadow: .5rem .4rem .4rem $PRETO;
  margin-left: -.5rem;
}
input:focus{
  outline: none;
}

