@import '../../../style/color';

.login{
  background-color: $ROXO-CLARO;
  box-shadow: $SHADOW-MD;
  input:focus{
    outline: none;
  }
    .btn-logar{
      background-color: $AMARELO;
      color: $PRETO;
    }

}
svg{
  cursor: pointer;
}
h2{
  text-shadow: $SHADOW-MD;
}
button{
  background-color: $AMARELO;
  opacity: .7;
}
.salvar:hover{
  transition: .2s;
  opacity: 1;
}
h1{
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: .2rem;
  text-shadow: $SHADOW-MD;
  font-size: 3rem;
  color: $BRANCO;
}
