@import "../../../../style/color";

:host {
    right: 20.5%;
    top: -5%;
    width: 60%;
}

.body {
    background-color: $ROXO-ESCURO;
    box-shadow: $SHADOW-MD;
}

.shadow-text {
    text-shadow: $SHADOW-SM;
}

h2 {
    text-shadow: $SHADOW-MD;
}

img {
    width: 20%;
    box-shadow: $SHADOW-MD;
}

.close-details {
    color: $BRANCO;
    top: .5rem;
    left: .5rem;
}

.close-details:hover {
    cursor: pointer;
    transition: .2s;
    color: $VERMELHO;
}

.descricao {
    max-height: 6.5rem;
}

.div-trailers {
    max-height: 9rem;
}

.classificacao {
    box-shadow: $SHADOW-SM;
    min-width: 2rem;
}

button {
    opacity: .7;
}

button:hover {
    transition: .2s;
    scale: 103%;
    opacity: 1;
}

button:first-child {
    background-color: $AMARELO;
}

button:last-child {
    background-color: $VERMELHO;
}

::-webkit-scrollbar{
    background-color: $PRETO;
    border: .1rem solid $PRETO;
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
    width: 1rem;
    background-color: $ROXO-CLARO;
    border-radius: .5rem;
    border: .1rem solid $PRETO;
}

.livre {
    background-color: $VERDE-CLASSIFICACAO-L;
}
.dez {
    background-color: $AZUL-CLASSIFICACAO-10;
}
.doze {
    background-color: $AMARELO-CLASSIFICACAO-12;
}
.quatorze {
    background-color: $LARANJA-CLASSIFICACAO-14;
}
.dezesseis {
    background-color: $VERMELHO;
}
.dezoito {
    background-color: $PRETO;
}
:host {
  right: 20.5%;
  top: -5%;
  width: 60%;
}
