@import "../../../../style/color";

h2{
  text-shadow: 0 .4rem .4rem $PRETO;
}

app-menu-sistema{
  z-index: 1;
}

 select{
  background-color: transparent;
  box-shadow: 0 .2rem .2rem $PRETO;
}

 select:focus{
  outline: 0;
  background-color: $BRANCO;
  scale: 103%;
}

 select:hover{
  transition: .2s;
  scale: 103%;
  background-color: $BRANCO;
}

.list-cards{
  max-height: 94%;
}

::-webkit-scrollbar{
  background-color: $PRETO;
  border: .1rem solid $PRETO;
}

::-webkit-scrollbar-thumb{
  width: 1rem;
  background-color: $ROXO-CLARO;
  border: .1rem solid $PRETO;
}

app-horario-detalhe{
    right: 25%;
    top: 10%;
    width: 50%;
}

.body{
  box-shadow: 0 .4rem .4rem $PRETO;
}

button{
  opacity: .7;
  box-shadow: 0 .2rem .2rem $PRETO;
}

button:hover{
  transition: .2s;
  scale: 105%;
  background-color: $AMARELO;
  opacity: 1;
}

span{
  cursor: pointer;

}

