@import "../../../style/color";

h2{
    font-size: 1.6rem;
}

.logo{
    width: 15%;
}

span {
  cursor: pointer;
}
h1{
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: .2rem;
    text-shadow: $SHADOW-MD;
    font-size: 3rem;
    color: $BRANCO;
}
.logout {
  right: 1rem;
  top: 4.6rem;
  box-shadow: $SHADOW-SM;
  z-index: 1;

  button {
    box-shadow: $SHADOW-SM;
    opacity: .7;
  }

  button:hover {
    transition: .2s;
    scale: 105%;
    opacity: 1;
  }

  button:first-child {
    background-color: $VERMELHO;
  }

  button:last-child {
    background-color: $VERDE-CLASSIFICACAO-L;
  }
}
