@import "../../../style/color";
h2{
    font-size: 1.6rem;
}
.logo{
    width: 15%;
}
.opcoes{
  right: .1rem;
  background-color: $ROXO-CLARO;
}
svg{
  cursor: pointer;
}
h1{
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: .2rem;
    text-shadow: $SHADOW-MD;
    font-size: 3rem;
    color: $BRANCO;
}
