@import '../../../../style/color';

h2 {
    text-shadow: $SHADOW-MD;
}

.body {
    box-shadow: $SHADOW-MD;

    .legenda {
        width: 2rem;
        height: 2rem;
        box-shadow: $SHADOW-SM;
    }

    .acompanhante {
        background-color: $ROXO-ESCURO;
    }
    
    .deficiente {
        background-color: $AZUL-DEFICIENTE;
    }
    
    .selecionado {
        background-color: $VERDE-CLASSIFICACAO-L;
    }
    
    .indisponivel {
        background-color: $VERMELHO;
    }

    span:hover {
        transition: .2s;
        scale: 105%;
        
        .assento {
            background-color: $ROXO-CLARO;
            box-shadow: $SHADOW-MD;
        }
    }

}