@import "../../../../style/color";

app-menu-sistema {
    z-index: 1;
}

.body {
    box-shadow: $SHADOW-MD;
}

h2 {
    text-shadow: $SHADOW-MD;
}

select {
    background-color: transparent;
    color: $BRANCO;
    box-shadow: $SHADOW-SM;
    cursor: pointer;
}

select:focus {
    scale: 105%;
    outline: 0;
    background-color: $ROXO-CLARO;
}

select:hover {
    transition: .2s;
    scale: 105%;
    background-color: $ROXO-CLARO;
}

button {
    background-color: $AMARELO;
    opacity: .7;
    cursor: auto;
}

.ativo:hover {
    transition: .2s;
    opacity: 1;
    cursor: pointer;
}