<span class="material-symbols-outlined fs-1 pe-2"
[ngClass]="page.toUpperCase() === 'ASSENTO' || page.toUpperCase() === 'INGRESSO' ? 'amarelo':''">movie</span>
<div class="col-3 rounded-3 border border-white opacity-50"></div>
<span class="material-symbols-outlined fs-1 px-2"
    [ngClass]="(page.toUpperCase() === 'SESSAO' ? 'apagado' : '') || (page.toUpperCase() === 'INGRESSO' ? 'amarelo':'')">chair</span>
<div class="col-3 rounded-3 border border-white opacity-50"></div>
<span class="material-symbols-outlined fs-1 ps-2"
    [ngClass]="(page.toUpperCase() === 'PAGAMENTO' ? 'amarelo':'') || (page.toUpperCase() === 'INGRESSO' ? '':'apagado')">local_activity</span>