@import '../../../../style/color';

.tipo{
    background-color: $ROXO-CLARO;
    box-shadow: $SHADOW-MD;
    cursor: pointer;
}

.tipo:hover {
    transition: .2s;
    scale: 103%;
}

input {
    box-shadow: $SHADOW-SM;
}

input:focus, input:active {
    outline: 0;
}