@import '../../../../style/color';

app-menu-sistema {
    z-index: 1;
}

button {
    cursor: pointer;
}

.body {
    box-shadow: 0 .4rem .4rem $PRETO;
}

label {
    text-shadow: 0 .2rem .2rem $PRETO;
}

h2 {
    text-shadow: 0 .4rem .4rem $PRETO;
}

input {
    background-color: transparent;
}

input::placeholder {
    color: $PRETO;
}

input:focus {
    scale: 105%;
    outline: 0;
    background-color: $BRANCO;
    box-shadow: 0 .2rem .2rem $PRETO;
}

input:hover {
    transition: .2s;
    scale: 105%;
    background-color: $BRANCO;
    box-shadow: 0 .2rem .2rem $PRETO;
}

.btn-salvar {
    background-color: $AMARELO;
    opacity: .7;
}

.btn-salvar:hover {
    transition: .2s;
    opacity: 1;
}