@import "../../../../style/color";

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

h2{
  color: $BRANCO;
  text-shadow: $SHADOW-MD;
}

.cadastra-funcionario{
  border: solid 2 px $PRETO;
  box-shadow: $SHADOW-MD;  
}

.inpt{
  margin: 0 auto;
}
button{
  background-color: $AMARELO;
  opacity: .7;
}
.ativo:hover {
  transition: .2s;
  opacity: 1;
}
input, select{
  background-color: transparent;
  color: $BRANCO;
  box-shadow: $SHADOW-SM;
}

.cidade, .estado {
  opacity: .7;
}

.select-ativo {
  opacity: 1;
}

input:hover, .select-ativo:hover{
  scale: 102%;
  transition: .2s;
  background-color: $ROXO-CLARO;
}

input:focus,select:focus{
  background-color: $ROXO-CLARO;
  scale: 102%;
  transition: .2s;
  outline: 0;
}

input::placeholder{
  color: $BRANCO;
}
