$ROXO-ESCURO: #1a1424;
$ROXO-CLARO: #644d8a;
$AMARELO: #ffa930;
$VERMELHO: #dd302d;
$VERDE-ATIVO: #19fa19;
$VERDE-IDIOMA: #48943e;
$AZUL-DEFICIENTE: #445CF8;
$BRANCO: #fff;
$PRETO: #000;
$ROXO:#743DB6;
$AZUL-CLASSIFICACAO-10: #5A9BB7;
$VERDE-CLASSIFICACAO-L: #30A03E;
$AMARELO-CLASSIFICACAO-12: #F2AA2A;
$LARANJA-CLASSIFICACAO-14: #fe7912ff;
$SHADOW-SM: 0 .2rem .2rem $PRETO;
$SHADOW-MD: 0 .4rem .4rem $PRETO;