@import "../../style/color";

.body{
  .graficos{
    box-shadow: 0 1rem 1rem black;
    border: 3px black solid;
    border-radius: 20px;
    background-color: $ROXO-CLARO;
    // padding-left: 50px;
  }
}
select{
  background-color: $AMARELO;
  option{
    background-color: $BRANCO;
  }
}
// width="1350" height="160"
.pizza{
  max-width: 300px;
  max-height: 300px;
}
.predio{
  max-width: 1200px;
  max-height: 160px;
}
