@import '../../style/color';

nav {
    background-color: $ROXO-CLARO;
    max-width: 4rem;
    cursor: pointer;
    border-radius: 0 1rem 1rem 0;

    div {
        padding: 1.5rem 1rem;
        width: 100%;

        p {
            display: none;
            color: $BRANCO;
            padding-top: 1rem;
        }
    }

    div:first-child {
        border-radius: 0 .5rem 0 0;
    }

    div:last-child {
        border-radius: 0 0 .5rem 0;
    }
}

nav:hover {
    transition: .2s;
    max-width: 15rem;
     
    div {
        max-height: 5rem;

        p {
            display: block;
        }
    }

    div:hover {
        transition: .2s;
        background-color: $AMARELO;

        p {
            color: $PRETO;
        }
    }
}