<nav class="d-flex flex-column align-items-start">
    <div class="d-flex align-items-center">
        <img src="../../../assets/img/claquete.png" alt="">
        <p class="fs-4 ps-3 fw-bold">Filmes</p>
    </div>
    <div class="d-flex align-items-center">
        <img src="../../../assets/img/mascara-de-teatro (1).png" alt="">
        <p class="fs-4 ps-3 fw-bold">Teatro</p>
    </div>
    <div class="d-flex align-items-center">
        <img src="../../../assets/img/calendario.png" alt="">
        <p class="fs-4 ps-3 fw-bold">Evento</p>
    </div>
    <div class="d-flex align-items-center">
        <img src="../../../assets/img/funcionarios.png" alt="">
        <p class="fs-4 ps-3 fw-bold">Funcionários</p>
    </div>
    <div class="d-flex align-items-center">
        <img src="../../../assets/img/teatro.png" alt="">
        <p class="fs-4 ps-3 fw-bold">Salas</p>
    </div>
    <div class="d-flex align-items-center">
        <img src="../../../assets/img/relogio.png" alt="">
        <p class="fs-4 ps-3 fw-bold">Horários</p>
    </div>
    <div class="d-flex align-items-center">
        <img src="../../../assets/img/projetor-de-cinema.png" alt="">
        <p class="fs-4 ps-3 fw-bold">Sessões</p>
    </div>
</nav>