<div class="rounded-3 border border-black body position-relative">
    <span class="close-details position-absolute" (click)="this.closeDetails()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x-lg"
            viewBox="0 0 16 16">
            <path
                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
        </svg>
    </span>
    <swiper-container
        slides-per-view="1"
        pagination="true"
        class="border-bottom border-black">
        <swiper-slide *ngFor="let capa of this.filme.capas" class="position-relative">
            <img [src]="capa" class="rounded-3" alt="">
            <h2 class="text-light position-absolute fw-bold text-shadow">{{this.filme.nome}}</h2>
        </swiper-slide>
    </swiper-container>
    <div class="p-3">
        <div class="d-flex col-12">
            <div class="col-2">
                <img [src]="this.filme.banner" class="banner rounded border border-black" alt="">
            </div>
            <div class="col-10">
                <div class="d-flex align-items-center justify-content-between col-11 mx-auto">
                    <div class="d-flex align-items-center justify-content-start col-8">
                        <span class="classificacao text-light col-1 fs-1 border border-black rounded text-center"
                            [ngClass]="this.classificacaoClass">{{ this.classificacao }}</span>
                        <p class="text-light fs-3 classborder px-4 text-shadow fw-semibold">{{filme.duracao}}</p>
                        <p class="text-light fs-3 text-shadow fw-semibold">{{filme.categoria.nome}}</p>
                    </div>
                    <button class="border col-3 py-2 rounded border border-black fw-semibold">Ver Sessões</button>
                </div>
                <div class="pt-3 col-11 mx-auto">
                    <p class="text-light fs-4">{{filme.descricao}}</p>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="col-6 pt-3">
                <p class="text-light fw-semibold fs-3">Trailers</p>
                <video *ngFor="let trailer of this.filme.trailers" src=""></video>
            </div>
            <div class="col-6 d-flex justify-content-between flex-wrap">
                <div class="col-6">
                    <p class="text-light fs-3 fw-semibold m-0">Categoria</p>
                    <p class="text-light fs-4 ps-2">{{ this.filme.categoria.nome }}</p>
                </div>
                <div class="col-6">
                    <p class="text-light fs-3 fw-semibold m-0">Status</p>
                    <p class="text-light fs-4 ps-2">{{ this.status }}</p>
                </div>
                <div class="col-6">
                    <p class="text-light fs-3 fw-semibold m-0">Direção</p>
                    <p class="text-light fs-4 ps-2">{{ this.filme.direcao }}</p>
                </div>
                <div class="col-6">
                    <p class="text-light fs-3 fw-semibold m-0">Data de Estreia</p>
                    <p class="text-light fs-4 ps-2">{{ this.filme.dataEstreia }}</p>
                </div>
            </div>
        </div>
    </div>
</div>