@import '../../../../style/color';

.body {
    background-color: $ROXO-ESCURO;
    box-shadow: 0 .4rem .4rem $PRETO;
}

.close-details {
    color: $BRANCO;
    top: .5rem;
    left: .5rem;
}

.close-details:hover {
    cursor: pointer;
    transition: .2s;
    color: $VERMELHO;
}

button {
    opacity: .7;
}

button:hover {
    transition: .2s;
    scale: 103%;
    opacity: 1;
}

button:first-child{
    background-color: $AMARELO;
}