@import "../../../../style/color";

:host {
  box-shadow: $SHADOW-SM;
}

:host:hover{
  transition: .2s;
  scale: 105%;
  box-shadow: 0 .2rem .2rem $PRETO;
  background-color: $ROXO-CLARO;
  cursor: pointer;
}

span{
  width: 1.6rem;
  height: 1.6rem;
}

.ativo{
  background-color: $VERDE-ATIVO;
}

.inativo{
  background-color: $VERMELHO;
}
