@import "../../../../style/color";

span{
  width: 1.6rem;
  height: 1.6rem;

}

.ativo{
  background-color: $VERDE-ATIVO;
}

.inativo{
  background-color: $VERMELHO;
}

:host:hover{
  transition: .2s;
  scale: 105%;
  box-shadow: 0 .2rem .2rem $PRETO;
  cursor: pointer;
}
