@import '../../../../style/color';

app-menu-sistema {
    z-index: 1;
}

app-categoria-detalhe {
    right: 20.5%;
    top: -5%;
    width: 60%;
}

.body {
    box-shadow: 0 .4rem .4rem $PRETO;
    max-height: 650px;
}

.list {
    input {
        opacity: .7;
        box-shadow: 0 .2rem .2rem $PRETO;
    }

    input:hover {
        transition: .2s;
        scale: 102%;
        opacity: 1;
    }
    button {
        opacity: .7;
        box-shadow: 0 .2rem .2rem $PRETO;
    }

    button:hover {
        transition: .2s;
        scale: 105%;
        background-color: $AMARELO;
        opacity: 1;
    }
}