@import '../../../../style/color';

span{
  width: 1.6rem;
  height: 1.6rem;
}
.ativo{
  background-color: $VERDE-ATIVO;
}
.inativo{
  background-color: $VERMELHO;
}

:host:hover{
  background-color: $ROXO-CLARO;
  box-shadow: 0 .4rem .4rem $PRETO;
  scale: 102%;
  transition: .2s;
  cursor: pointer;
}
:host{
  box-shadow: 0 .2rem .2rem $PRETO;
}

