@import "../../../../style/color";
h2{
  color: $BRANCO;
  text-shadow: $SHADOW-MD;
}
.cadastra-funcionario{
  box-shadow: $SHADOW-MD;
}
.inputName,.inputEmail,.last{
  margin: 0 auto;
}
button{
  opacity: .7;
  background-color: $AMARELO;
}
input:hover,select:hover{
  scale: 102%;
  transition: .2s;
  background-color: $ROXO-CLARO;
}

input:focus,select:focus{
  background-color: $ROXO-CLARO;
  scale: 102%;
  transition: .2s;
  outline: 0;
}
input::placeholder{
  color: $BRANCO;
}
select, input{
  box-shadow: $SHADOW-SM;
  background-color: transparent;
  color: $BRANCO;

}
button:hover {
  transition: .2s;
  opacity: 1;
}


