<div class="confirmacao position-relative col-12 rounded-2 d-flex flex-column justify-content-center align-items-center">
    <p class="fw-bold fs-2 text-light">Deseja mesmo inativar?</p>
    <div class="d-flex justify-content-around col-12">
      <button class="col-5 p-2 fs-4 fw-semibold rounded-3 border border-black autorizado" (click)="this.inativar()">Sim</button>
      <button class="col-5 p-2 fs-4 fw-semibold rounded-3 border border-black desautorizado" (click)="this.close()">Não</button>
    </div>
  </div>